.jumbotron {
    background-color: #5de3e1;
    color: black;
    margin-top: 60px;
}

footer {
    padding: 10px 10px 0 10px;
    background-color: #5de3e1;   
    margin-bottom: 0px;
    margin-top: 10px;    
}

.card-hotel{
    flex: 1 200px;    
    margin: 10px 5px 10px 5px;
    font-size: 15px;
}

.btn-reserva {
    width: 100%;
    border-radius: 0px;

}




address{
    text-align: center;
    font-size: 17px;
}

form {
    
    margin: 2px 60px 2px 60px;
}