$celeste:#4dd5f7;


@mixin margenes($top, $bottom) {
    margin-top: $top;
    margin-bottom: $bottom;
    
}

@mixin padding($top, $right, $bottom, $left) {
    padding-top: $top;
    padding-right: $right;
    padding-bottom: $bottom;
    padding-left: $left;
}

.jumbotron {
    background-color: $celeste ;
    color: black;
   @include margenes(60px, 20px);
}

footer {
    background-color:$celeste ; 
    @include padding (10px, 10px, 0px, 10px);      
    @include margenes(10px, 0px);
      
}

.card-hotel{
    flex: 1 200px;      
    font-size: 15px; 
    @include margenes(10px, 5px); 
    margin-right: 5px;
    margin-left: 5px;
}

.btn-reserva {
    width: 100%;
    border-radius: 0px;

}

address{
    text-align: center;
    font-size: 17px;
}

form {
    @include margenes(30px, 60px); 

}