.jumbotron {
  background-color: #4dd5f7;
  color: black;
  margin-top: 60px;
  margin-bottom: 20px; }

footer {
  background-color: #4dd5f7;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 0px;
  padding-left: 10px;
  margin-top: 10px;
  margin-bottom: 0px; }

.card-hotel {
  flex: 1 200px;
  font-size: 15px;
  margin-top: 10px;
  margin-bottom: 5px;
  margin-right: 5px;
  margin-left: 5px; }

.btn-reserva {
  width: 100%;
  border-radius: 0px; }

address {
  text-align: center;
  font-size: 17px; }

form {
  margin-top: 30px;
  margin-bottom: 60px; }
